<div id="login">
    <div id="login-logo"></div>
    <div ng-hide="login.loginSuccessful" id="login-form">
        <form
            ng-submit="login.login(email, password)"
            ng-hide="login.loginSuccessful"
            name="login.loginForm"
            novalidate
        >
            <div class="floating-label">
                <input ng-model="email" name="email" type="email" required/>
                <label translate>E-Mail Address</label>
            </div>
            <div class="floating-label">
                <input ng-model="password" name="password" type="password" required/>
                <label translate>Password</label>
            </div>
            <submit-button
                label="'Login' | translate"
                disabled="login.isSubmitDisabled"
                load="login.isLoading"
            >
            </submit-button>
        </form>

        <div ng-messages="login.loginError" class="error msg">
            <div ng-message="unauthorized" translate>
                The combination of Password and E-Mail Address is invalid.
            </div>
            <div ng-message="otherFailure" translate>Something went wrong during login.</div>
        </div>
    </div>

    <div ng-show="login.loginSuccessful" id="splash-screen" translate>
        Welcome, <span class="username">{{login.userFirstName}}</span><br/> This is your NewStore
    </div>

    <footer>
        Copyright &copy;2015 <a href="http://www.newstore.com">NewStore</a>. All rights reserved.
    </footer>
</div>
